@import 'variables';

#footer {
  background-color: $dark-background;
  border-top: 4px solid $logo-middle-grey;
  bottom: 0;
  box-shadow: 0px -10px 8px -8px $lightened-border-color;
  color: $footer-color;
  position: absolute;
  width: 100%;

  a:link,
  a:visited,
  a:hover {
    color: $footer-color;
  }

  a:hover {
    text-decoration: underline;
  }

  .content-wrapper {
    padding: 0 15px;
  }

  header,
  section {
    height: $row-height;
    line-height: $row-height - 1;
  }

  header {
    background-color: #555;
  }

  section {
    font-size: 0.9em;
    height: $row-height;
    line-height: $row-height - 1;
  }
}
