@import 'variables';

section#improve {
  position: relative;
  z-index: 2;
  background-color: white;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0px 10px 8px -8px $inner-shadow-color;

  .content-wrapper {
    padding: 8px 15px;
    position: relative;

    font-size: 2em;
    font-weight: bold;

    text-align: center;

    a {
      color: $logo-orange;
      &:hover{
        color: $logo-orange-transparent;
      }
    }
  }
}
