@import 'variables';

footer.offers {
  background-color: #efefef;
  font-size: 1.2em;
  padding-bottom: 60px;
  padding-top: 1em;

  .btn-contact {
    background-color: $logo-orange;
    border: none;
    border-radius: 6px;
    color: white;
    font-size: 1.2em;
    vertical-align: baseline;

    &:hover {
      background-color: $background-orange-light;
    }
  }
}

#offers {

  h2 {
    margin-bottom: 30px;
    margin-top: 90px;
  }

  .btn-contact {
    background-color: $logo-middle-green;
    border: none;
    border-radius: 6px;
    color: white;
    font-size: 16px;
    vertical-align: baseline;

    &:hover {
      background-color: $logo-light-green;
    }
  }

  .btn-consulting-form {
    background-color: $logo-orange;
    border: none;
    border-radius: 6px;
    color: white;
    font-size: 16px;
    vertical-align: baseline;

    &:hover {
      background-color: $background-orange-light;
    }
  }

  table {
    table-layout: fixed;
  }

  .fixed-width {
    width: 20%;
  }

  thead,
  tbody {
    tr {
      th, td {
        padding: 4px 8px;
      }

      th, td {
        &.sub-title {
          padding-left: 24px;
        }

        &.community {
          font-weight: normal;
          border-left: 2px solid $logo-orange;
          text-align: center;
        }

        &.silver_gold {
          background-color: #f9f9f9;
          border-left: 1px solid $logo-orange;
          color: $logo-orange;
          text-align: center;
        }

        &.platinium {
          background-color: $logo-orange;
          color: white;
          text-align: center;
        }
      }
    }
  }

  tbody {
    border-top: 2px solid $logo-orange;
  }

  table,
  table + p {
    margin-top: 40px;
  }
}

.pricing-container {
  width: 100%;
  display: flex;
}

.pricing {
  flex: 1;
  display: flex;
  flex-direction: column;

  .pricing-block {
    background: white;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3), 0 -1px 2px rgba(0,0,0,0.1);
    transition: all 200ms ease-out;
    display: flex;
    flex: 1;
    margin: 10px;
    border-radius: 2px;
    padding: 15px;

    .pricing-content {
      flex: 1;
      text-align: center;
    }

    .pricing-title {
      font-size: 18px;
      color: #cd6b00;
    }

    .pricing-price {
      margin: 5px 0 0 0;
      font-size: 30px;
      font-weight: bold;
    }

    .pricing-price-sub {
      margin: 0 0 5px 0;
      color: #808080;
      font-style: italic;
      font-size: 14px;
      min-height: 25px;
    }

    &:hover {
      box-shadow: 0 4px 12px rgba(0,0,0,0.5), 0 -1px 2px rgba(0,0,0,0.1);
      transform: scale(1.05);
    }

  }

  .pricing-button {
    margin: 10px;
    height: 35px;
    background: #cd6b00;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3), 0 -1px 2px rgba(0,0,0,0.1);
    transition: box-shadow 200ms ease-out;
    border-radius: 2px;
    color: white;
    font-size: 12px;
    font-weight: bold;
    display: flex;
    span {
      margin: auto;
    }

    &.green {
      background-color: #848f00;
    }

    &:hover {
      box-shadow: 0 4px 12px rgba(0,0,0,0.4), 0 -1px 2px rgba(0,0,0,0.1);
      cursor: pointer;
    }
  }
}