@import 'variables';

.testimonials {

  background-color: white;
  box-shadow: inset 0 10px 8px -8px $inner-shadow-color;
  padding-bottom: 60px;

  h1, h2, h3 {
    color: $logo-orange;
  }

  h1 {
    border-bottom: 1px solid #eee;
  }

  h2 {
    margin-bottom: 30px;
    margin-top: 60px;
  }

  h3 {
    margin-top: 30px;
  }

  h4 {
    text-decoration: underline;
    padding-bottom: 5px;
  }

  .logo {
    margin-bottom: 60px;
    text-align: center;

    h2 {
      font-size: 3em;
      font-weight: bold;
      margin: 0;
    }

    img {
      height: 60px;
    }

    p {
      color: $logo-orange;
      font-size: 1.4em;
      height: 30px;
      line-height: 30px;
      margin: 0;
      text-align: center;
      text-transform: uppercase;
    }
  }

  .quotation-mark {
    p:first-child:before {
      content: open-quote;
      //margin-right: 10px;
    }

    p:last-child:after {
      content: close-quote;
      //margin-left: 10px;
    }
  }

  .row {
    padding-top: 40px;
  }

  &>.container > a {
    color: black;
    display: block;
  }

  blockquote {
    border: none;
    color: #cd6b00;
    font-size: 1.2em;
  }

  p {
    text-align: justify;
  }

  .pager li > a {
    border: none;
    border-radius: 0;
    color: $logo-orange;
    font-weight: bold;

    &:hover {
      background-color: $logo-orange;
      color: white;
    }
  }
}

#carousel-testimonials {

  a {
    color: black;
  }

  .carousel-control {
    &.left {
      background-image: linear-gradient(to right, $border-color 0%, rgba(0, 0, 0, 0.0001) 100%);
    }

    &.right {
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0001) 0%, $border-color 100%);
    }
  }
}

#testimonials {
  background-color: #fafafa;
  box-shadow: 0px -8px 8px -8px $lightened-inner-shadow-color;

  header.row-fluid {
    background-color: $logo-orange;
  }

  h2 {
    color: white;
    font-size: 2em;
    font-weight: bold;
    margin: 0;
    padding: 8px 15px;
    text-align: center;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.25);
  }

  &> header + section {
    box-shadow: 0px -8px 8px -8px $lightened-inner-shadow-color;
  }

  $testimonial-height: 120px;

  .testimonial {
    height: $testimonial-height;

    .col-xs-2,
    .col-xs-10 {
      height: $testimonial-height;
    }

    .col-xs-2 {
      display: block;
      height: $testimonial-height;

      img {
        height: $testimonial-height / 2;
        margin-top: $testimonial-height / 8;
      }

      p {
        color: $logo-orange;
        font-size: 1.4em;
        height: $testimonial-height / 4;
        line-height: $testimonial-height / 4;
        margin: 0;
        text-transform: uppercase;
      }
    }
  }

  .logo {
    height: $testimonial-height;
    text-align: center;

    h2 {
      color: $logo-orange;
      font-size: 3em;
      font-weight: bold;
      line-height: $testimonial-height;
      margin: 0;
      padding: 0;
      text-shadow: none;
    }
  }

  blockquote {
    border: none;
    font-size: 1em;
    margin: 0;
    padding: 0;

    p {
      line-height: $testimonial-height / 4;
      margin: 0;
      padding: 0;

      &:first-child {
        margin-top: $testimonial-height / 4;
      }

      a {
        color: $logo-orange;

        &:hover{
          color: $logo-orange-transparent;
          text-decoration: underline;
        }
      }
    }
  }

  .quoter {
    position: absolute;
    right: 0;
    top: $testimonial-height / 2;
  }
}
