@import 'variables';

#testimonials {
  background: url(../../images/subtle_grunge.png) repeat;
  box-shadow: inset 0px 10px 8px -8px $inner-shadow-color;

  .content-wrapper {
    padding: 0 15px;
  }

  .testimonial {
    margin-bottom: 40px;
    margin-top: 40px;
    white-space: nowrap;

    .logo,
    blockquote {
      display: inline-block;
      vertical-align: top;
    }
  }

  .logo {
    -webkit-filter: drop-shadow(2px 3px 4px $border-color);
    width: 108px;
  }

  blockquote {
    background-color: white;
    border: none;
    box-shadow: 2px 3px 10px 0px $border-color;
    font-size: 1em;
    font-style: italic;
    margin: 0;
    white-space: normal;
    width: 738px;

    &.blockquote-left {
      margin-right: 20px;
      border-right: 4px solid $logo-middle-green;
    }

    &.blockquote-right {
      margin-left: 20px;
      border-left: 4px solid $logo-middle-green;
    }
  }
}
