@import 'variables';

section#title {
  position: relative;
  background: url(../../images/body-bg.jpg) center no-repeat;
  color: white;
  height: 280px;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.25);
  z-index: 3;

  .content-wrapper {
    padding: 0 15px;
    position: relative;

    .title-content {
      left: 15px;
      position: absolute;
      top: 55px;

      img {
        -webkit-filter: drop-shadow(1px 1px rgba(0, 0, 0, 0.25));
        vertical-align: -9px;
      }
    }

    .col-xs-7 {
      margin-top: 95px;
    }

    .col-xs-6 {
      padding: 0;
    }

    .col-xs-5 {
      margin-top: 20px;
    }

    span {
      margin-left: 6px;
    }
  }

  .h3 {
    letter-spacing: 1px;
  }
}
