.btn-simple,
a.btn-simple:link,
a.btn-simple:visited,
a.btn-simple:hover {
  background: #d1d0ca;
  color: #fff;
  padding: 3px 10px;
  text-decoration: none;
  font-size: 0.9em;
  font-weight: bold;
  cursor: pointer;

  -webkit-transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  transition: all .2s ease-in;

  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;

  behavior: url(../../vendor/css/PIE.htc);
}

.btn-simple:hover,
a.btn-simple:hover {
  background: #DF7700;
  text-decoration: none;
}

.btn-gatling,
a.btn-gatling:link,
a.btn-gatling:visited,
a.btn-gatling:hover {
  background: #DF7700 url(../images/btn-gatling-bg.jpg) left top repeat-x;
  border: solid 2px #fff;
  color: #eee;
  padding: 3px 10px;
  text-decoration: none;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

  behavior: url(../../vendor/css/PIE.htc);
}

.btn-gatling:hover,
a.btn-gatling:hover {
  color: #fff;
}

i.icon-arrow-gatling {
  background: url(../images/btn-arrow1.png) left top no-repeat;
  width: 17px;
  height: 17px;
  display: inline-block;
  margin: 0 4px;
  line-height: 15px;
  vertical-align: text-top;
}
