@import 'variables';

body {
  background: @default-background url(../images/body-bg.jpg) center @header-height no-repeat;
  color: @default-color;
  font-family: Arial, Verdana, Tahoma, sans-serif;
  min-width: 790px;
}

a {
  &:link,
  &:visited,
  &:hover {
    color: @logo-orange;
    text-decoration: none;
  }
}

a:hover {
  text-decoration: underline;
}

a img {
  border: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Maven Pro", sans-serif;
  margin: 0;
  padding: 0;
}

.content {
  margin: 0 auto;
  max-width: 900px;
  width: 100%;
}

#page {
  margin-top: 25px;

  .content {
    background: white;
    padding-bottom: 20px;
  }
}
