@import 'variables';

#footer {
  background-color: @dark-background;
  border-top: 4px solid @logo-middle-grey;
  box-shadow: 0px -10px 8px -8px @lightened-border-color;
  color: white;
  height: 280px;

  header.row-fluid {
    background-color: #555;
    height: @header-height;
  }
}
