@import 'variables';

#header {
  height: @header-height;

  .content {
    display: flex;
    height: @header-height;
    position: relative;
  }

  a.logo:link,
  a.logo:visited,
  a.logo:hover {
    background: url(../images/gatling.png) left top no-repeat;
    display: block;
    height: @header-height;
    width: @logo-width;
  }

  nav {
    float: right;
    position: absolute;
    right: 0;

    ol {
      display: flex;
      list-style-type: none;
      margin: 0;
      padding: 0;

      li {
        a:link,
        a:visited,
        a:hover {
          border-top: 2px solid transparent;
          color: @logo-middle-grey;
          display: block;
          font-weight: bold;
          height: @header-height;
          line-height: @header-height - 5;
          padding: 0 8px;
          text-decoration: none;

          -webkit-transition: all .2s ease-in;
          -moz-transition: all .2s ease-in;
          -o-transition: all .2s ease-in;
          transition: all .2s ease-in;

          behavior: url(../../vendor/css/PIE.htc);
        }

        a:hover {
          color: @logo-dark-grey;

          &.link {
            border-top: 2px solid @logo-orange;
          }
        }
      }
    }
  }
}
