@import 'variables';

#header {
  height: @header-height;

  .content-wrapper {
    display: flex;
    height: @header-height;
    position: relative;
  }

  a.logo {
    &:link,
    &:visited,
    &:hover {
      background: url(../images/gatling.png) left top no-repeat;
      display: block;
      height: @header-height;
      width: @logo-width;
    }
  }

  nav {
    float: right;
    position: absolute;
    right: 0;

    ol {
      display: flex;
      list-style-type: none;
      margin: 0;
      padding: 0;

      li {
        a {
          &:link,
          &:visited,
          &:hover {
            border-top: 4px solid transparent;
            color: @logo-middle-grey;
            display: block;
            font-weight: bold;
            height: @header-height;
            line-height: @header-height - 5;
            padding: 0 8px;
            text-decoration: none;

            -webkit-transition: all .2s ease-in;
            -moz-transition: all .2s ease-in;
            -o-transition: all .2s ease-in;
            transition: all .2s ease-in;

            behavior: url(../../vendor/css/PIE.htc);
          }

          &:hover {
            color: @logo-dark-grey;
            border-top: 4px solid @logo-orange;
          }

          &.icon {
            width: 40px;
          }

          @position-x: 8px;
          @position-y: 32px;

          &.icon-github {
            background: url(../images/icon-github-off.png) no-repeat @position-x @position-y;

            &:hover {
              background: white url(../images/icon-github-on.png) no-repeat @position-x @position-y;
            }
          }

          &.icon-twitter {
            background: url(../images/icon-twitter-off.png) no-repeat @position-x @position-y;

            &:hover {
              background: white url(../images/icon-twitter-on.png) no-repeat @position-x @position-y;
            }
          }

          &.icon-googlegroup {
            background: url(../images/icon-googlegroup-off.png) no-repeat @position-x @position-y;

            &:hover {
              background: white url(../images/icon-googlegroup-on.png) no-repeat @position-x @position-y;
            }
          }
        }
      }
    }
  }
}
