@import 'variables';

.highlight-container {
  overflow: auto;

  pre {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;

    code {
      font-size: 0.9em;
    }

    .hljs {
      color: @logo-middle-grey;
      display: block;
    }

    .keyword {
      color: @logo-middle-green;
    }

    .number {
      color: @logo-light-green;
    }

    .string {
      color: @logo-orange;
    }

    .keyword,
    .title {
      font-weight: bold;
    }
  }
}
