@import 'variables';

#logos {
  box-shadow: 0px -10px 8px -8px @lightened-border-color;
  filter: progid:DXImageTransform.Microsoft.Shadow(color=@lightened-border-color, Direction=90, Strength=8);

  h2 {
    color: @logo-middle-grey;
    font-weight: bold;
    text-align: center;
  }

  .row-fluid:first-child {
    background-color: @lightened-background;
  }
}
