#testimonies {
  padding: 30px;

  h3 {
    background: url(../images/puce2.png) left 9px no-repeat;
    padding-left: 16px;
    font-size: 1.8em;
    margin: 3px 0 3px 0;
    color: #DF7700;
  }

  ul {
    list-style-type: none;
    padding: 0;

    li {
      margin-top: 30px;
      padding-bottom: 15px;
      border-bottom: solid 1px #eee;
      color: #555;
      text-align: justify;
    }
  }

  blockquote {
    background: #FDF5EE;
    margin-bottom: 10px;
  }

  .left-blockquote {
    margin-right: 150px;
    border-right: 2px solid #DF7700;
    border-left: none;
  }

  .right-blockquote {
    margin-left: 150px;
    border-left: 2px solid #DF7700;
  }

  .no-border {
    border: none;
    padding-bottom: 0;
  }

  small {
    color: #999;
    margin-top: 10px;
    font-size: 0.6em;
  }
}
