<section class="testimonials">
  <div class="container">
    <nav>
      <ul class="pager">
        <li class="previous" ng-class="previousClass" ><a ng-click="onSwitchStory(previous)" href=""><span aria-hidden="true">&larr;</span> Older</a></li>
        <li class="next" ng-class="nextClass"><a ng-click="onSwitchStory(next)" href="">Newer <span aria-hidden="true">&rarr;</span></a></li>
      </ul>
    </nav>
   </div>
  <div ui-view class="container"></div>
  <div class="container">
    <nav>
      <ul class="pager">
        <li class="previous" ng-class="previousClass" ><a ng-click="onSwitchStory(previous)" href=""><span aria-hidden="true">&larr;</span> Older</a></li>
        <li class="next" ng-class="nextClass"><a ng-click="onSwitchStory(next)" href="">Newer <span aria-hidden="true">&rarr;</span></a></li>
      </ul>
    </nav>
  </div>
</section>
