<section class="doc">
  <div class="container">
    <section class="row">
      <div class="col-md-12">
        <h1>Gatling Professional Services</h1>
        Gatling's development team is your best ally to fight poor performance: contact us now at
        <a href="mailto:contact@gatling.io">contact@gatling.io</a>
      </div>
    </section>
  </div>
</section>

<section class="offers">
  <div class="container">
    <h1>2015 worldwide professional support</h1>
    <br/>
    <table>
      <thead>
        <th></th>
        <th>Silver</th>
        <th>Gold</th>
        <th>Platinum</th>
      </thead>
      <tr>
        <td>Duration</td>
        <td>One year</td>
        <td>One year</td>
        <td>One year</td>
      </tr>
      <tr>
        <td>Number of tickets</td>
        <td>Three</td>
        <td>Twelve</td>
        <td>Unlimited</td>
      </tr>
      <tr>
        <td>Maximum response time</td>
        <td>One business day</td>
        <td>One business day</td>
        <td>Four business hours</td>
      </tr>
      <tr>
        <td>Priority</td>
        <td>High</td>
        <td>Very high</td>
        <td>Urgent</td>
      </tr>
      <tr>
        <td>Scenario scripting consulting</td>
        <td>One hour</td>
        <td>Three hours</td>
        <td>Six hours</td>
      </tr>
    </table>

    <br/>

    <span class="italic">
      One ticket allows you to contact us for one specific issue. Response times are based on business hours, France timezone (GMT+1, 10 AM - 6 PM)
    </span>
  </div>
</section>

<section class="doc">
  <div class="container">
    <section class="row">
      <div class="col-md-12">
        <h1>Go further with our professional services</h1>

        <h3>Feature sponsoring</h3>
        In need of a missing feature ASAP? Sponsor it!

        <h3>Training and certification</h3>
        get in touch with us to be aware of any training session in your area!

        <h3>Consulting and business process certification</h3>
        In need of real help from the experts? Contact us at any time!

      </div>
    </section>
  </div>
  <hr/>
  <div class="container">
    One way to get in touch with us :
    <a href="mailto:contact@gatling.io">contact@gatling.io</a>
  </div>
</section>